* {
  box-sizing:border-box;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../images/greyback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.return {
  font-size:10px;
  text-decoration:none;
}
h1 {
  font-size:60px;
  color:white;
  text-align:center;
}
.lead {
  color:white;
  text-align:center;
}
.container2 {
  background-image:url(../images/brick.jpg);
  background-size:auto;
  background-position:center;
  background-repeat:repeat;
}
.py-5{
  background-color:white;
}
.col-8 {
  background-color:white;
}
.card-img-top{
  overflow:auto;
}
.navbar-brand {
  height:60px;
  width:60px;
}